*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(30, 48, 166);
    background-image: url(pictures/background.svg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
}
body{
    background-color: rgb(56, 223, 242) !important;
    background-image: url(pictures/background.svg);
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
li{
    font-weight: bold;
}
a{
    text-decoration: none !important;
}
.Aboutpage{
    display: flex;
    gap: 15%;
    background-color: rgba(30, 48, 166, 0.667);
    padding: 50px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin: 50px;
    border-radius: 25px;
    margin-top: 200px;    
}
.Aboutpage p {
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 25px;
    padding: 15px ;
}
.image1{
    width: 75%;
    height: 75%;
}

hr {
    border: 2px solid black;
    width: 80%;
    margin: auto !important;
    align-items: center ;
    justify-content: center ;
}
.cvpage{
    background-color: rgba(30, 48, 166, 0.667);
    margin: 50px;
    padding-bottom: 25px ;
    padding-top: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 100px;
}
.cvpage img{
    width: 25%;
    height: 25%;
}
.cvpage a{
    padding-right: 200px;
    padding-left: 200px;
}




@media(max-width:750px) {

    header{
    gap: 10%;
}
ul{
    display: block;

}
.Aboutpage{
    display: block;
    padding-bottom: 30px;
    padding-top: 40px;
    margin-top: 150px;
}
.Aboutpage p {
    padding: 20px 20px 20px 20px ;
}
.image1{
    width: 100% ;
    height: 100% ;
    margin-top: 25px;
    display: block;
    margin: 25px auto ; 
}
.cvpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cvpage img{
    display: block;
    margin: 25px auto;
    width: 75%;
    height: 75%;
}
.cvpage a{
    padding-left: 100px ;
    padding-right: 100px ;    


}

}